<div id="<%= dom_id cliente %>">
  <p>
    <strong>Idcli:</strong>
    <%= cliente.idCli %>
  </p>

  <p>
    <strong>Nomcli:</strong>
    <%= cliente.nomCli %>
  </p>

  <p>
    <strong>Cpfcnpj:</strong>
    <%= cliente.cpfCnpj %>
  </p>

  <p>
    <strong>Statuscli:</strong>
    <%= cliente.statusCli %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= cliente.telefone %>
  </p>

</div>
