<div id="<%= dom_id endereco_cliente %>">
  <p>
    <strong>Idendcli:</strong>
    <%= endereco_cliente.idEndCli %>
  </p>

  <p>
    <strong>Idcli:</strong>
    <%= endereco_cliente.idCli %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= endereco_cliente.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= endereco_cliente.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= endereco_cliente.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= endereco_cliente.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= endereco_cliente.estado %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= endereco_cliente.cep %>
  </p>

  <p>
    <strong>Endcorrespondencia:</strong>
    <%= endereco_cliente.endCorrespondencia %>
  </p>

</div>
