<div id="<%= dom_id pedido %>">
  <p>
    <strong>Idpedido:</strong>
    <%= pedido.idPedido %>
  </p>

  <p>
    <strong>Idcli:</strong>
    <%= pedido.idCli %>
  </p>

  <p>
    <strong>Idpgto:</strong>
    <%= pedido.idPgto %>
  </p>

  <p>
    <strong>Datapedido:</strong>
    <%= pedido.dataPedido %>
  </p>

</div>
