<p style="color: green"><%= notice %></p>

<%= render @nota_fiscal %>

<div>
  <%= link_to "Edit this nota fiscal", edit_nota_fiscal_path(@nota_fiscal) %> |
  <%= link_to "Back to nota fiscals", nota_fiscals_path %>

  <%= button_to "Destroy this nota fiscal", @nota_fiscal, method: :delete %>
</div>
