<div id="<%= dom_id produto %>">
  <p>
    <strong>Idprod:</strong>
    <%= produto.idProd %>
  </p>

  <p>
    <strong>Dscprod:</strong>
    <%= produto.dscProd %>
  </p>

  <p>
    <strong>Codmar:</strong>
    <%= produto.codMar %>
  </p>

  <p>
    <strong>Idcat:</strong>
    <%= produto.idCat %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= produto.valor %>
  </p>

  <p>
    <strong>Qtd:</strong>
    <%= produto.qtd %>
  </p>

</div>
