<p style="color: green"><%= notice %></p>

<%= render @item_pedido %>

<div>
  <%= link_to "Edit this item pedido", edit_item_pedido_path(@item_pedido) %> |
  <%= link_to "Back to item pedidos", item_pedidos_path %>

  <%= button_to "Destroy this item pedido", @item_pedido, method: :delete %>
</div>
